<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SistemaNH sin t</title>

    <!-- #FAVICON -->
    <link rel="shortcut icon" href="../../favicon.svg" type="image/svg+xml">

    <!-- #CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!-- #GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header" data-header>
        <div class="overlay" data-overlay></div>

        <!-- #HEADER TOP -->
        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:megamergezx@gmail.com" target="_blank" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>daniel.gutierrez@um.edu.mx</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                            target="_blank" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>Universidad de Montemorelos NL</address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                    <!-- <button class="header-top-btn">Repositorio</button> -->
                </div>

            </div>
        </div>


        <!-- #HEADER BOTTOM -->
        <div class="header-bottom">
            <div class="container">

                <a href="index.html" class="logo">
                    <img src="../../assets/images/logo-top.png" alt="logo-fitec">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="index.html" class="logo">
                            <img src="../../assets/images/logo-top.png" alt="logo-fitec">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="../../index.html#inicio" class="navbar-link" data-nav-link>Inicio</a>
                            </li>

                            <li>
                                <a href="../../index.html#equipo" class="navbar-link" data-nav-link>Equipo</a>
                            </li>

                            <li>
                                <a href="../../index.html#categorias" class="navbar-link" data-nav-link>Categorías</a>
                            </li>

                        </ul>
                    </div>

                </nav>

                <div class="header-bottom-actions">

                    <button class="header-bottom-actions-btn" aria-label="Cart">
                        <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank">
                            <ion-icon name="code-outline"></ion-icon>
                        </a>
                        <span>Code</span>
                    </button>
                    </a>

                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>
                        <span>Menu</span>
                    </button>

                </div>

            </div>
        </div>
    </header>


    <main>
        <article>
            <section class="service">
                <div class="container">
                    <h2 class="h2 section-title">Sistema no homogeneo 2X2 sin valor t</h2>
                    <figure class="about-banner img-center" style="margin-bottom: -50px;">
                        <img src="../../assets/images/sistema2x2.png" alt="Library">
                    </figure>
                </div>
            </section>

            <section class="features" id="contacto" style="background: hsl(0, 0%, 100%);">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Teoría</p>
                    <p style="text-align: justify;">
                        Estas ecuaciones son conjuntos en el que las constantes de término (t) no son siempre cero. Estos sistemas son de interés en diversas disciplinas y tienen aplicaciones prácticas en la resolución de problemas del mundo real como:
                        <br>
                        <br>
                        <ul class="flechita-lista">
                            <div style="display: flex;">
                                <li>Ingeniería y Física </li>
                                <li style="margin-left: 50px;">Economía y Finanzas</li>
                            </div>
                            <div style="display: flex;">
                                <li>Biología y Medicina</li>
                                <li style="margin-left: 40px;">Estadística</li>
                            </div>
                        </ul>
                        <br>
                        Para encontrar los valores incógnitos  de las soluciones X<sub>c</sub> y X<sub>p</sub> se puede utilizar el método de eliminación, el método de sustitución o métodos matriciales como la inversión de matrices o la eliminación gaussian.
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        ➔ El primer paso es identificar la parte homogénea y no homogénea del sistema:
                    </p>
                    <figure class="about-banner formulas">
                            <img src="../../assets/images/sistemanh_Identificar.png" alt="Library">
                    </figure>
                    <br>
                    <p style="text-align: justify;">
                        La fórmula para la solución general a  un sistema no homogéneo es:
                    </p>
                    <figure class="about-banner formulas">
                        <img src="../../assets/images/sistemanh_SolucionGnrl.png" alt="Library">
                    </figure>
                    <br>
                    <p style="text-align: justify;">
                        ➔ El segundo paso es resolver los valores incógnitos para X<sub>c</sub>, con el método de polinomio característico:
                    </p>
                    <figure class="about-banner formulas">
                        <img src="../../assets/images/sistemanh_Polinomio.png" alt="Library">
                    </figure>
                    <br>
                    <p style="text-align: justify;">
                        ➔ El tercer paso es resolver los valores incógnitos para X<sub>p</sub>, con el método de eliminación de Gauss-Jordan:
                    </p>
                    <figure class="about-banner formulas">
                        <img src="../../assets/images/sistemanh_GaussJ.png" alt="Library">
                    </figure>
                    <br>
                    <p style="text-align: justify;">
                       ➔ El cuarto paso es encontrar la Y por medio de su despeje, sustituyendo en X<sub>c</sub> y X':
                    </p>
                    <figure class="about-banner formulas">
                        <img src="../../assets/images/sistemanh_DespejeY.png" alt="Library">
                    </figure>
                    <p style="text-align: justify;">
                        Una vez encontrado X y Y con los valores λ<sub>1</sub>, λ<sub>2</sub> y a<sub>1</sub>, b<sub>1</sub> se arma nuevamente el sistema de la siguiente forma:
                    </p>
                    <figure class="about-banner formulas">
                        <img src="../../assets/images/sistemanh_FormaFinal.png" alt="Library">
                    </figure>
                    <br><br>
                    <div class="video-container">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/UcYkkSozxBo?si=_eHr2HALAoTjeirt" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <section class="service" style="margin-top: -50px;">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Ejemplo</p>
                    <br>
                    <figure class="about-banner img-center" style="margin-bottom: -50px;">
                        <img src="../../assets/images/sistemanh_Problema.png" alt="Library">
                    </figure>
                </div>
            </section>

            <section class="features" id="contacto" style="background: hsl(0, 0%, 100%);">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Problema</p>
                    <p style="text-align: justify; line-height: 1.6;">
                        Ingresa un sistema de ecuaciones 2x2 para calcular su solución. (Favor de seguir la estructura siguiente)
                    </p>
                    <br>
                    <p style="text-align: left;">
                        <img src="../../assets/images/sistemanh_Modelo.png" alt="">
                    </p>
                    <br>
                    <br>
                    <form>
                        <div class="contenedor-problema">
                            <div class="container-sistema2x2">
                                <img src="../../assets/images/sistemanh_Inputs.png" alt="Tu Imagen">
                                <div class="content-container">
                                    <div class="box-sistema" style="margin-top: 10px; margin-bottom: 20px;">
                                        <label class="XY-label">X' =</label>
                                        <input class="input_XY" type="text" id="X" required>
                                        <label style="margin-left: 20px;" id="coeficientesA"></label>
                                    </div>
                                    <div class="box-sistema">
                                        <label class="XY-label">Y' =</label>
                                        <input class="input_XY" type="text" id="Y" required>
                                        <label style="margin-left: 20px;" id="coeficientesB"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="contenedor-problema">
                            <button type="button" onclick="paso1();"
                                class="btn-customized">Paso 1</button>
                            <div id="mensajes1" class="error correct"></div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <form id="show2nd" class="showNextStep">
                        <div class="contenedor-problema">
                            <div class="container-polinomio">
                                <div class="image-container">
                                    <img src="../../assets/images/sistemanh_Polinomio1.png" alt="Imagen Izquierda">
                                </div>
                                <div class="content-container">
                                    <div class="box-sistema">
                                        <label class="XY-label" id="A1-λ" style="margin-right: 30px;"></label>
                                        <label class="XY-label" id="A2"></label>
                                    </div>
                                    <div class="box-sistema">
                                        <label class="XY-label" id="B1" style="margin-right: 30px;"></label>
                                        <label class="XY-label" id="B2-λ"></label>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <img src="../../assets/images/sistemanh_Polinomio2.png" alt="Imagen Derecha" style="margin-right: 10px;">
                                    <label class="XY-label">= 0</label>
                                </div>
                            </div>
                            <br><br>
                        </div>
                        <div class="contenedor-problema" id="show2ndPlus" class="showNextStep">
                            <div id="showSteps" class="showNextStep">
                                <label class="XY-label">⇒ </label><label class="XY-label" id="MatrizProduct"></label>
                                <br><br>
                                <label class="XY-label">⇒ </label><label class="XY-label" id="ansDiv"></label>
                                <br><br>
                                
                                <label class="XY-label"><strong>λ<sub>1</sub></strong> = </label><label class="XY-label" id="λ1" style="margin-right: 20px;"></label>
                                <label class="XY-label"><strong>λ<sub>2</sub></strong> = </label><label class="XY-label" id="λ2"></label>
                                <br><br>
                            </div>
                        </div>
                        <div class="contenedor-problema">
                            <button type="button" onclick="paso2()"
                                class="btn-customized">Paso 2</button>
                                <div id="mensajes2" class="correct"></div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <form id="show3th" class="showNextStep">
                        <div class="contenedor-problema">
                            <div class="container-polinomio">
                                <div class="image-container">
                                    <label class="XY-label" style="margin-right: 10px;">Q = </label>
                                    <img src="../../assets/images/sistemanh_Matriz1.png" alt="Imagen Izquierda">
                                </div>
                                <div class="content-container">
                                    <div class="box-sistema">
                                        <label class="XY-label" id="A1_" style="margin-right: 30px;"></label>
                                        <label class="XY-label" id="A2_" style="margin-right: 30px;"></label>
                                        <label class="XY-label">-1</label>
                                    </div>
                                    <div class="box-sistema">
                                        <label class="XY-label" id="B1_" style="margin-right: 30px;"></label>
                                        <label class="XY-label" id="B2_" style="margin-right: 30px;"></label>
                                        <label class="XY-label">-1</label>
                                    </div>
                                </div>
                                <div class="image-container" style="margin-left: 20px;">
                                    <img src="../../assets/images/sistemanh_Extended.png" alt="Imagen Izquierda">
                                </div>
                                <div class="content-container">
                                    <div class="box-sistema">
                                        <label class="XY-label" id="A4_"></label>
                                    </div>
                                    <div class="box-sistema">
                                        <label class="XY-label" id="B4_"></label>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <img src="../../assets/images/sistemanh_Matriz2.png" alt="Imagen Derecha">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="contenedor-problema" id="show3thPlus" class="showNextStep">
                            <div id="show_a1_b1" class="showNextStep">
                                <label class="XY-label"><strong>a<sub>1</sub></strong> = </label><label class="XY-label" id="a1" style="margin-right: 20px;"></label>
                                <label class="XY-label"><strong>b<sub>1</sub></strong> = </label><label class="XY-label" id="b1"></label>
                                <br><br>
                                <label class="XY-label"><strong>X<sub>c</sub></strong> = </label><label class="XY-label" id="Xc"></label>
                                <br><br>
                            </div>
                        </div>
                        <div class="contenedor-problema">
                            <button type="button" onclick="paso3()"
                                class="btn-customized">Paso 3</button>
                                <div id="mensajes3" class="correct"></div>
                        </div>
                    </form>
                </div>
            </section>
        </article>
    </main>


    <!-- #FOOTER -->
    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="index.html" class="logo">
                        <img src="../../assets/images/logo-bottom.png" alt="logo-fitec">
                    </a>

                    <ul class="contact-list">

                        <li>
                            <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                                target="_blank" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <span>Av. Libertad 1300 Pte, Matamoros, 67515 Montemorelos, N.L.</span>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+(826) 106 94 15</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:daniel.gutierrez@um.edu.mx" target="_blank" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>daniel.gutierrez@um.edu.mx</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Navegación</p>
                        </li>

                        <li>
                            <a href="../../index.html#inicio" class="footer-link">Inicio</a>
                        </li>

                        <li>
                            <a href="../../index.html#equipo" class="footer-link">Equipo</a>
                        </li>

                        <li>
                            <a href="../../index.html#categorias" class="footer-link">Categorías</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Proyecto</p>
                        </li>

                        <li>
                            <a href="https://drive.google.com/file/d/1QbIESTbWRLtHzaz6-uy7yKreukNdUZH8/view?usp=sharing"
                                target="_blank" class="footer-link">Artículo</a>
                        </li>

                        <li>
                            <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank"
                                class="footer-link">Repositorio</a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/channel/UC-LBpwztGMbeeNQi8WOpLqg" target="_blank" class="footer-link">Canal</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Ejercicios</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Utilerías</p>
                        </li>

                        <li>
                            <a href="https://www.mathwhiteboard.com/whiteboard/?d=LZICVR" target="_blank"
                                class="footer-link">Pizarrón virtual</a>
                        </li>

                        <li>
                            <a href="https://pinetools.com/colorize-image" target="_blank" class="footer-link">Overlay
                                de imágenes</a>
                        </li>

                        <li>
                            <a href="https://ionic.io/ionicons" target="_blank" class="footer-link">Íconos boostrap</a>
                        </li>

                        <li>
                            <a href="https://cursa.ihmc.us/rid=1TYTZJZ45-1WHJXTD-3MZZ/1TYTMX98QIP2CFMXI4XJIimage?rid=1TYTZJZ45-1WHJXTD-3MZZ&partName=htmljpeg"
                                target="_blank" class="footer-link">Categorías de Ecuaciones Diferenciales</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    Ecuaciones Diferenciales
                    &copy; 2025 <a href="#"></a>
                </p>

            </div>
        </div>

    </footer>


    <!-- #SCRIPTS -->
    <script src="../../assets/js/script.js"></script>
    <script src="../../assets/js/SNH/sin_valor_t.js"></script>
    <script>
        document.getElementById('X').addEventListener('keydown', function (e) {
          // Verificar si la tecla presionada es un espacio
          if (e.key === ' ') {
            // Cancelar el evento para evitar que se ingrese el espacio
            e.preventDefault();
          }
        });
        document.getElementById('Y').addEventListener('keydown', function (e) {
          // Verificar si la tecla presionada es un espacio
          if (e.key === ' ') {
            // Cancelar el evento para evitar que se ingrese el espacio
            e.preventDefault();
          }
        });
    </script>


    <!-- #ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167430586-1"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-167430586-1");</script>

</body>

</html>