<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscilador armónico simple</title>

    <!-- #FAVICON -->
    <link rel="shortcut icon" href="../../../favicon.svg" type="image/svg+xml">

    <!-- #CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- #GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header" data-header>
        <div class="overlay" data-overlay></div>

        <!-- #HEADER TOP -->
        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:megamergezx@gmail.com" target="_blank" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>daniel.gutierrez@um.edu.mx</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                            target="_blank" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>Universidad de Montemorelos NL</address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                    <!-- <button class="header-top-btn">Repositorio</button> -->
                </div>

            </div>
        </div>


        <!-- #HEADER BOTTOM -->
        <div class="header-bottom">
            <div class="container">

                <a href="../../../index.html" class="logo">
                    <img src="../../../assets/images/logo-top.png" alt="logo-fitec">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="../../../index.html" class="logo">
                            <img src="../../../assets/images/logo-top.png" alt="logo-fitec">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="../../../index.html#inicio" class="navbar-link" data-nav-link>Inicio</a>
                            </li>

                            <li>
                                <a href="../../../index.html#equipo" class="navbar-link" data-nav-link>Equipo</a>
                            </li>

<li>
                                <a href="../../../index.html#categorias" class="navbar-link" data-nav-link>Categorías</a>
                            </li>
                        </ul>
                    </div>

                </nav>

                <div class="header-bottom-actions">

                    <button class="header-bottom-actions-btn" aria-label="Cart">
                        <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank">
                            <ion-icon name="code-outline"></ion-icon>
                        </a>
                        <span>Code</span>
                    </button>
                    </a>

                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>
                        <span>Menu</span>
                    </button>

                </div>

            </div>
        </div>
    </header>

    <main>
        <article>
            <section class="service">
                <div class="container">
                    <h2 class="h2 section-title" style="margin-bottom: -25px;">Oscilador Armónico Simple</h2>
                </div>
            </section>

            <section class="features" id="contacto" style="background: hsl(0, 0%, 100%);">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Teoría</p>
                    <p style="text-align: justify;">
                        <strong>Oscilador armónico simple:</strong> Es un sistema físico que experimenta un movimiento periódico bajo la acción de una fuerza restauradora proporcional al desplazamiento. Un ejemplo clásico es el resorte con una masa.
                    </p>
                    <p style="text-align: justify;"></p>
                        <strong>Ecuación diferencial:</strong> El movimiento se describe por la ecuación diferencial de segundo orden:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        m&nbsp;d<sup>2</sup>x/dt<sup>2</sup> + kx = 0
                    </p>
                    <p style="text-align: justify;">
                        Donde <strong>m</strong> es la masa, <strong>k</strong> la constante del resorte y <strong>x</strong> el desplazamiento.
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        La solución general de esta ecuación es:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        x(t) = A&nbsp;cos(ωt) + B&nbsp;sin(ωt)
                    </p>
                    <p style="text-align: justify;">
                        Donde ω = √(k/m) es la frecuencia angular, y A, B se determinan con las condiciones iniciales.
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        El oscilador armónico simple es fundamental en física y matemáticas, ya que modela sistemas como péndulos, circuitos eléctricos y vibraciones mecánicas.
                    </p>
                    <br><br>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-dvah97IEdI?si=905oXfTBC4Y0BzGO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!-- Contenedor dinámico de problemas -->
            <div id="contenedor-problemas"></div>

            <section class="features" id="contacto" style="background: hsl(0, 0%, 100%); margin-top: -80px;">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; color: rgb(5, 79, 0); background-color: rgb(137, 255, 183);">Problemas propuestos</p>
                    <p style="text-align: justify; line-height: 1.6;">
                    <strong>1. </strong>
                        Un carrito de laboratorio de masa 4 kg está unido a un resorte horizontal con constante elástica de 32 N/m. El carrito se encuentra inicialmente 0.4 m comprimido respecto a la posición de equilibrio y se suelta con una velocidad inicial de 0.3 m/s dirigida hacia el equilibrio.
                        Formula la ecuación del movimiento del sistema masa resorte.
                    </p>
                    <br>
                    <p style="text-align: justify; line-height: 1.6;">
                        <strong>2. </strong>
                        Una masa de 2.5 kg se cuelga de un resorte vertical cuya constante es 20 N/m. Luego se tira hacia abajo 0.15 m adicionales y se suelta con una velocidad inicial de 0.4 m/s hacia abajo.
                        Plantea la ecuación diferencial del movimiento y la expresión de la posición en función del tiempo.
                    </p>
                    <br>
                    <p style="text-align: justify; line-height: 1.6;">
                        <strong>3. </strong>
                        Un sistema de oscilación horizontal está formado por una masa de 1.2 kg unida a un resorte de constante 10 N/m. El sistema inicia su movimiento desde una posición 0.25 m a la derecha del equilibrio, con una velocidad inicial de -0.2 m/s (hacia la izquierda).
                        Determina la ecuación del movimiento correspondiente a este oscilador armónico simple.
                    </p>
                    <br>
            </section>
        </article>
    </main>

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="../../../index.html" class="logo">
                        <img src="../../../assets/images/logo-bottom.png" alt="logo-fitec">
                    </a>

                    <ul class="contact-list">

                        <li>
                            <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                                target="_blank" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <span>Av. Libertad 1300 Pte, Matamoros, 67515 Montemorelos, N.L.</span>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+(826) 106 94 15</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:daniel.gutierrez@um.edu.mx" target="_blank" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>daniel.gutierrez@um.edu.mx</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Navegación</p>
                        </li>

                        <li>
                            <a href="../../../index.html#inicio" class="footer-link">Inicio</a>
                        </li>

                        <li>
                            <a href="../../../index.html#equipo" class="footer-link">Equipo</a>
                        </li>

                         <li>
                            <a href="../../../index.html#categorias" class="footer-link">Categorías</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Proyecto</p>
                        </li>

                        <li>
                            <a href="https://drive.google.com/file/d/1QbIESTbWRLtHzaz6-uy7yKreukNdUZH8/view?usp=sharing"
                                target="_blank" class="footer-link">Artículo</a>
                        </li>

                        <li>
                            <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank"
                                class="footer-link">Repositorio</a>
                        </li>

              <li>
                <a href="https://www.youtube.com/channel/UC-LBpwztGMbeeNQi8WOpLqg" target="_blank" class="footer-link">Canal</a>
              </li>

              <li>
                <a href="#" class="footer-link">Ejercicios</a>
              </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Utilerías</p>
                        </li>

                        <li>
                            <a href="https://www.mathwhiteboard.com/whiteboard/?d=LZICVR" target="_blank"
                                class="footer-link">Pizarrón virtual</a>
                        </li>

                        <li>
                            <a href="https://pinetools.com/colorize-image" target="_blank" class="footer-link">Overlay
                                de imágenes</a>
                        </li>

                        <li>
                            <a href="https://ionic.io/ionicons" target="_blank" class="footer-link">Íconos boostrap</a>
                        </li>

                        <li>
                            <a href="https://cursa.ihmc.us/rid=1TYTZJZ45-1WHJXTD-3MZZ/1TYTMX98QIP2CFMXI4XJIimage?rid=1TYTZJZ45-1WHJXTD-3MZZ&partName=htmljpeg"
                                target="_blank" class="footer-link">Categorías de Ecuaciones Diferenciales</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    Ecuaciones Diferenciales
                    &copy; 2025 <a href="#"></a>
                </p>

            </div>
        </div>

    </footer>

    <!-- Scripts -->
    <script src="../../assets/js/OAS/problemasOAS-config.js"></script>
    <script src="../../assets/js/OAS/generadorProblemasOAS.js"></script>
    <script>
        // Generar todos los problemas al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            const contenedor = document.getElementById('contenedor-problemas');
            
            problemasOAS.forEach(problema => {
                const problemaHTML = generadorOAS.generarHTML(problema);
                contenedor.innerHTML += problemaHTML;
            });
        });
    </script>

    <!-- #ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167430586-1"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-167430586-1");</script>

</body>

</html>
