<!-- #CSS -->
<link rel="stylesheet" href="../../../assets/css/style.css">
<style>
    ::placeholder {
        font-size: 0.52em;
    }
</style>

<section class="features" id="contacto" style="background: hsl(0, 0%, 100%); margin-top: -80px;">
    <div class="container">
        <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px;">Problema 2</p>
        <p style="text-align: justify; line-height: 1.6;">
            Una masa de 3 kg está unida a un resorte con una constante elástica de 27 N/m.
            La masa se desplaza 0.2 m desde su posición de equilibrio y se suelta con una velocidad inicial de 0.5 m/s.
            Determina la ecuación del movimiento de la masa.
        </p>
        <br>
        <p style="text-decoration: underline;">
            Si vas a usar fracciones mixtas, favor de ponerlas con espacio (y siempre simplifica) <strong style="background-color: yellow;">ejemplo: 3 4/5</strong>
        </p>
        <br>
        <br>

        <label class="label_PCI"><strong>Datos generales</strong></label>
        <form>
            <br>
            <div class="contenedor-problema">

                <label class="label_PCI">m = </label>

                <input class="input_tiempopoblacion" type="text" id="masa" required placeholder="masa">
            </div>
            <br>
            <div class="contenedor-problema">

                <label class="label_PCI">k = </label>

                <input class="input_tiempopoblacion" type="text" id="constanteresorte" required
                    placeholder="constante de resorte">
            </div>
            <br>
            <div class="contenedor-problema">

                <label class="label_PCI">x<sub>0</sub> = </label>

                <input class="input_tiempopoblacion" type="text" id="posicionI" required placeholder="posición inicial">
            </div>
            <br>
            <div class="contenedor-problema">

                <label class="label_PCI">v<sub>0</sub> = </label>

                <input class="input_tiempopoblacion" type="text" id="velocidadI" required
                    placeholder="velocidad inicial">
            </div>
            <br>
            <div class="contenedor-problema">
                <button type="button" onclick="paso1Colecta(); paso1Ejecucion()" class="btn-customized">Revisar</button>
                <div id="mensajes1" class="error correct"></div>
            </div>
        </form>
        <br><br>

        <form style="display: none;" id="zone2">
            <label class="label_PCI"><strong>Frecuencia angular</strong></label>
            <br>
            <br>
            <div class="contenedor-problema">

                <label class="label_PCI">w = &radic;</label>

                <input class="input_tiempopoblacion" type="text" id="constanteresorte2" required placeholder="k">
                /
                <input class="input_tiempopoblacion" type="text" id="masa2" required placeholder="m">
                =
                <label class="label_PCI">&radic;</label>
                <input class="input_tiempopoblacion" type="text" id="resultado1" required placeholder="resultado">
                =
                <input class="input_tiempopoblacion" type="text" id="resultado2" required placeholder="rad/s">
            </div>
            <br>
            <div class="contenedor-problema">
                <button type="button" onclick="paso2Colecta(); paso2Ejecucion()" class="btn-customized">Revisar</button>
                <div id="mensajes2" class="error correct"></div>
            </div>
        </form>
        <br><br>

        <form style="display: none;" id="zone3">
            <label class="label_PCI"><strong>Aplicar condiciones iniciales</strong></label>
            <br>
            <br>
            <p style="text-align: justify; line-height: 1.6;">
                Recordando nuestra forma general de solución <strong>x(t)=Acos(ωt)+Bsin(ωt)</strong>,
                y sabiendo que <strong>x(0)</strong>, entonces:
            </p>
            <br>
            <div class="contenedor-problema">
                <label class="label_PCI">x(0) = A = <strong>1/5</strong></label>
            </div>
            <br>
            <div class="contenedor-problema">
                <label class="label_PCI">x'(0) = B = <strong>1/6</strong></label>
            </div>
        </form>
        <br><br>

        <form style="display: none;" id="zone4">
            <label class="label_PCI"><strong>Construcción de la solución</strong></label>
            <br>
            <br>
            <div class="contenedor-problema">
                <label class="label_PCI">x(t) = <strong>1/5</strong> • cos(<strong>3</strong>t) + <strong>1/6</strong> • sin(<strong>3</strong>t)</label>
            </div>
            <br>
            <div class="contenedor-problema">
                <div id="mensajeFinal" class="error correct"></div>
            </div>
        </form>
        <br><br>
    </div>
</section>

<!-- #SCRIPTS -->
<script src="../../assets/js/OAS/problema2.js"></script>