<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interes compuesto</title>

    <!-- #FAVICON -->
    <link rel="shortcut icon" href="../../../favicon.svg" type="image/svg+xml">

    <!-- #CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- #GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header" data-header>
        <div class="overlay" data-overlay></div>

        <!-- #HEADER TOP -->
        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:megamergezx@gmail.com" target="_blank" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>daniel.gutierrez@um.edu.mx</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                            target="_blank" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>Universidad de Montemorelos NL</address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="header-top-social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                    <!-- <button class="header-top-btn">Repositorio</button> -->
                </div>

            </div>
        </div>


        <!-- #HEADER BOTTOM -->
        <div class="header-bottom">
            <div class="container">

                <a href="../../../index.html" class="logo">
                    <img src="../../../assets/images/logo-top.png" alt="logo-fitec">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="../../../index.html" class="logo">
                            <img src="../../../assets/images/logo-top.png" alt="logo-fitec">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="../../../index.html#inicio" class="navbar-link" data-nav-link>Inicio</a>
                            </li>

                            <li>
                                <a href="../../../index.html#equipo" class="navbar-link" data-nav-link>Equipo</a>
                            </li>

<li>
                                <a href="../../../index.html#categorias" class="navbar-link" data-nav-link>Categorías</a>
                            </li>
                        </ul>
                    </div>

                </nav>

                <div class="header-bottom-actions">

                    <button class="header-bottom-actions-btn" aria-label="Cart">
                        <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank">
                            <ion-icon name="code-outline"></ion-icon>
                        </a>
                        <span>Code</span>
                    </button>
                    </a>

                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>
                        <span>Menu</span>
                    </button>

                </div>

            </div>
        </div>
    </header>

    <main>
        <article>
            <section class="service">
                <div class="container">
                    <h2 class="h2 section-title" style="margin-bottom: -25px;">Interes compuesto continuo</h2>
                </div>
            </section>

            <section class="features" id="contacto" style="background: hsl(0, 0%, 100%);">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Teoría</p>
                    <p style="text-align: justify;">
                        <strong>Interés compuesto:</strong> es aquel interés que se cobra por un crédito y al ser
                        liquidado se acumula al capital (Capitalización el interés),
                        por lo que en la siguiente liquidación de intereses el interés anterior forma parte del capital
                        o base del cálculo del nuevo interés.
                    </p>
                    <p style="text-align: justify;">
                        <strong>Tasa de interés:</strong> Expresa el valor del dinero en el tiempo e indica la cantidad
                        de dinero que genera un capital por
                        unidad de tiempo. Se considera constante durante el periodo de análisis.
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        Considere el siguiente escenario; se ha depositado en un banco C<sub>0</sub> durante un
                        cierto lapso de tiempo y sujeto a una determinada tasa de interés.
                        Luego del lapso de tiempo, el nuevo capital será:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        C<sub>1</sub> = C<sub>0</sub>( 1 + <sup>int</sup>&frasl;<sub>100</sub> )
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        Pasados dos lapsos (años) de tiempo el capital será:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        C<sub>2</sub> = C<sub>1</sub>( 1 + <sup>int</sup>&frasl;<sub>100</sub> ) = C<sub>0</sub>( 1 +
                        <sup>int</sup>&frasl;<sub>100</sub> ) ( 1 + <sup>int</sup>&frasl;<sub>100</sub> )
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        En t lapsos de tiempo:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        C(t) = C<sub>0</sub>( 1 + <sup>int</sup>&frasl;<sub>100</sub> ) <sup>t</sup>
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        Finalmente, si el interés se paga k veces en cada lapso, entonces:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        C(t) = C<sub>0</sub>( 1 + <sup>int</sup>&frasl;<sub>100⋅k</sub> ) <sup>kt</sup>
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        Para nuestros problemas usaremos la siguiente connotación:
                    </p>
                    <p class="formulas" style="font-size: 19px; font-weight: bold; text-align:left;">
                        A(t) = Ce<sup>rt</sup>
                    </p>
                    <br><br>
                    <div class="video-container">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/c80liOgwqVs?si=FEdQQj68gSYEcMwU" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <section class="service" style="margin-top: -50px;">
                <div class="container">
                    <p class="section-subtitle" style="font-size: 1.5em; font: weight 20px; margin-top: -50px;">Ejemplo</p>
                    <p style="text-align: justify;">
                        Suponga que encuentra en su ático un libro de la biblioteca con fecha de entrega vencida y por
                        el cual su abuelo debía pagar una multa de 30 centavos desde hace 100 años.
                        Si la multa crece exponencialmente a una tasa de interés compuesto continuamente de 5% anual,
                        ¿cuánto se tendría que pagar si se devuelve el libro a la biblioteca?
                    </p>
                    <br><br>
                    <figure class="about-banner img-center" style="margin-bottom: -50px;">
                        <img src="../../../assets/images/problem2.png" alt="Library">
                    </figure>
                </div>
            </section>
            <br>
            <br>
            <iframe class="iframe-problems" src="problema1.html" width="100%" height="500"></iframe>
            <iframe class="iframe-problems" src="problema2.html" width="100%" height="500"></iframe>
            <iframe class="iframe-problems" src="problema3.html" width="100%" height="500"></iframe>

        </article>
    </main>


    <!-- #FOOTER -->
    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="../../../index.html" class="logo">
                        <img src="../../../assets/images/logo-bottom.png" alt="logo-fitec">
                    </a>

                    <ul class="contact-list">

                        <li>
                            <a href="https://www.google.com/maps/place/Montemorelos+University/@25.1925767,-99.8481377,17z/data=!4m6!3m5!1s0x867cd6e2bd190e2f:0x8a690c81c38aa44!8m2!3d25.1925719!4d-99.8455628!16s%2Fm%2F03qjh1n?entry=ttu"
                                target="_blank" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <span>Av. Libertad 1300 Pte, Matamoros, 67515 Montemorelos, N.L.</span>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+(826) 106 94 15</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:daniel.gutierrez@um.edu.mx" target="_blank" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>daniel.gutierrez@um.edu.mx</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="https://www.facebook.com/Facultad.de.Ingenieria.y.Tecnologia" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/soyfitec" target="_blank" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@Ecuaciones_Diferenciales" target="_blank"
                                class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Navegación</p>
                        </li>

                        <li>
                            <a href="../../../index.html#inicio" class="footer-link">Inicio</a>
                        </li>

                        <li>
                            <a href="../../../index.html#equipo" class="footer-link">Equipo</a>
                        </li>

                         <li>
                            <a href="../../../index.html#categorias" class="footer-link">Categorías</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Proyecto</p>
                        </li>

                        <li>
                            <a href="https://drive.google.com/file/d/1QbIESTbWRLtHzaz6-uy7yKreukNdUZH8/view?usp=sharing"
                                target="_blank" class="footer-link">Artículo</a>
                        </li>

                        <li>
                            <a href="https://github.com/Boostrap-Proyects/Ecuaciones-Diferenciales" target="_blank"
                                class="footer-link">Repositorio</a>
                        </li>

              <li>
                <a href="https://www.youtube.com/channel/UC-LBpwztGMbeeNQi8WOpLqg" target="_blank" class="footer-link">Canal</a>
              </li>

              <li>
                <a href="#" class="footer-link">Ejercicios</a>
              </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Utilerías</p>
                        </li>

                        <li>
                            <a href="https://www.mathwhiteboard.com/whiteboard/?d=LZICVR" target="_blank"
                                class="footer-link">Pizarrón virtual</a>
                        </li>

                        <li>
                            <a href="https://pinetools.com/colorize-image" target="_blank" class="footer-link">Overlay
                                de imágenes</a>
                        </li>

                        <li>
                            <a href="https://ionic.io/ionicons" target="_blank" class="footer-link">Íconos boostrap</a>
                        </li>

                        <li>
                            <a href="https://cursa.ihmc.us/rid=1TYTZJZ45-1WHJXTD-3MZZ/1TYTMX98QIP2CFMXI4XJIimage?rid=1TYTZJZ45-1WHJXTD-3MZZ&partName=htmljpeg"
                                target="_blank" class="footer-link">Categorías de Ecuaciones Diferenciales</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    Ecuaciones Diferenciales
                    &copy; 2025 <a href="#"></a>
                </p>

            </div>
        </div>

    </footer>


    <!-- #SCRIPTS -->
    <script src="../../../assets/js/script.js"></script>

    <!-- #ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167430586-1"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-167430586-1");</script>

</body>

</html>